:root {
    box-sizing: border-box;
    font-size: 18px;
    --dark-color: #151515;
    --brown-color: #D5966C;
    font-family: 'Big Shoulders Display';
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.HeadingXL {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 96px;
    line-height: 88px;
}
.HeadingL {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;
}
.HeadingM {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 60px;
    line-height: 50px;
}
.HeadingMS {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
}
.HeadingS {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
}
.BodyM {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
}
.BodyS {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.black-bg {
    background-color: var(--dark-color);
    color: white;
}
.brown-bg {
    background-color: var(--brown-color);
    color: black;
}
.brown-fg {
    color: var(--brown-color);
}
.inverted-img {
    filter: invert(100%);
}

body {
    font-family: Outfit;
    font-weight: 300;
    line-height: 1.5em;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.0em;
}
#cover-container {
    display: flex;
    flex-direction: column;
    padding: 0em 0.5em;
}
#cover-container img {
    flex: 1;
    object-fit: cover;
    max-width: 100%;
}
#cover-container #icon-arrow-right {
    object-fit: contain;
    width: 18px;
    height: 18px;
}
#logo-box-dark  {
    display: none;
}
#logo-box-light  {
    display: block;
}
#logo-dark {
    margin: 1em 0;
    width: 50%;
}
#our-location-button {
    padding: 0;
    width: 10em;
}
#our-location-button a {
    display: flex;
    flex-direction: row;
    padding: 0;
    text-decoration: none;
    color: white;
    margin: 0;
}
#our-location-button span {
    height: 100%;
    flex: 4;
    text-align: center;
    font-size: 0.75em;
    text-transform: uppercase;
}
#our-location-button div {
    flex: 1;
    /* height: 100%; */
    text-align: center;
    /* padding-top: 0.25em; */
    background-color: var(--brown-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
#our-location-button:hover {
    cursor: pointer;
}
#our-location-button:hover span, #our-location-button:focus span {
    background-color: #D5966C;
}
#our-location-button:hover div, #our-location-button:focus div {
    background-color: #151515;
}
#your-day h2 {
    white-space: pre-line;
}
.ssn-icons {
    display: flex;
    margin: 0.25em 1em;
    gap: 0.5em;
}
.ssn-icons img {
    width: 16px;
    height: 16px;
}
#inset-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0em 0.5em;
    margin: 4em 0em;
}
#inset-container img {
    flex: 1;
    object-fit: cover;
    max-width: 100%;
}
#map {
    z-index: 0;
}
.back-to-home-button {
    position: absolute;
    top: -0.25em;
    left: 2em;
    width: 10em;
    max-width: 50%;
    z-index: 1;
}

.back-to-home-button a {
    width: 100%;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    padding: 0.25em 0.5em;
    height: 2.5em;
    text-decoration: none;
}
.back-to-home-button span {
    display: flex;
    height: 100%;
    flex: 4;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.75em;
    text-transform: uppercase;
    background-color: var(--brown-color);
}
.back-to-home-button div {
    flex: 1;
    height: 100%;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-home-button img {
    object-fit: contain;
    width: 18px;
    height: 18px;
}
.back-to-home-button:hover {
    cursor: pointer;
}
.back-to-home-button:hover span {
    background-color: var(--dark-color);
}
.back-to-home-button:hover div {
    background-color: var(--brown-color);
}

.location-map {
    position:relative;
}
.our-location {
    margin: 0;
    padding: 1em 0.5em;
}
.address {
    padding: 1em 0em;
}
.address .brown-fg{
    /* font-size: 2em; */
    padding: 0.5em 0em;
}
.gallery-footer {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
.gallery-footer > h3 {
    flex: 1 1 30%
}
.gallery-footer-preamble {
    flex: 1 1 40%;
}
.ssn-icons {
    flex: 1 1 30%;
}

@media only screen and (min-width: 600px) {
    #cover-container {
        display: grid;
        grid-template-columns: 45fr 10fr 45fr;
        grid-template-rows: repeat(1fr, 5);
    }
    #hero-box {
        grid-column: 1/3;
        grid-row: 1/6;
    }
    #logo-box-light {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    #gallery-preamble {
        grid-column: 2/4;
        grid-row: 3/4;
    }
    #our-location-button {
        grid-column: 2/4;
        grid-row: 4/5;
    }

    #inset-container {
        display: grid;
        gap: 1em;
        grid-template-columns: 30fr 10fr 30fr;
        grid-template-rows: 5fr 4fr 5fr;
        margin: 4em 1em;
    }
    #grid-1-box {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #grid-2-box {
        grid-column: 1/3;
        grid-row: 2/4;
    }
    #grid-3-box {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #grid-1-box, #grid-2-box, #grid-3-box{
        display: flex;
    }
    #inset-container img {
        flex: 1;
        object-fit: cover;
        max-width: 100%;
    }
    #your-day {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1em;
    }
    #come-be-inspired {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 1em;
    }
    .gallery-footer {
        display: flex;
        flex-direction: row;
        padding: 5%;
    }    
    .ssn-icons  {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 1024px) {
    :root {
        font-size: 1.5em;
    }
    #cover-container {
        display: grid;
        grid-template-columns: 3fr 4fr 3fr ;
        grid-template-rows: 3fr 3fr 4fr;
        /* position: relative; */
    }
    #hero-box {
        grid-column: 2/3;
        grid-row: 1/4;
        display: flex;
    }
    #hero-box img {
        object-fit: cover;
    }
    #logo-box-dark {
        display: block;
        grid-column: 1/2;
        grid-row: 1/5;
        position: relative;
        overflow: hidden;
        z-index: 2;
    }
    #logo-box-light {
        grid-column: 1/2;
        grid-row: 1/5;
        position: relative;
        overflow: visible;
        z-index: 1;
    }
    #logo-light {
        display: block;
        position: absolute;
        top: 7em;
        left: 5.5em;
        width: 125%;
    }
    #logo-dark {
        display: block;
        position: absolute;
        top: 7em;
        left: 5.5em;
        width: 125%;
    }
    #gallery-preamble {
        grid-column: 3/4;
        grid-row: 2/3;
        margin-left: -2em;
    }
    #our-location-button {
        grid-column: 3/4;
        grid-row: 3/4;
        margin-left: -2em;
    }

    #inset-container {
        display: grid;
        gap: 1em;
        grid-template-columns: 42fr 16fr 42fr;
        grid-template-rows: 35fr 30fr 27fr;
        margin: 4em;
    }
    #grid-1-box {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #grid-2-box {
        grid-column: 1/3;
        grid-row: 2/4;
    }
    #grid-3-box {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #grid-1-box, #grid-2-box, #grid-3-box{
        display: flex;
    }
    #inset-container  img {
        flex: 1;
        object-fit: cover;
        /* max-width: 100%; */
    }
    #your-day {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1em;
    }
    #come-be-inspired {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 1em;
    }
}

