:root {
    box-sizing: border-box;
    font-size: 18px;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Outfit;
    font-weight: 300;
    line-height: 1.5em;
}

h1, h2, h3, h4 {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    text-transform: uppercase;
}
h1 {
    font-size: 3.75em;
    line-height: 1em;
}
h2 {
    font-size: 3.5em;
    line-height: 1em;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.0em;
}
#logo-dark {
    display: none;
    overflow: hidden;
}
#our-location-button a {
    width: 50%;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    /* padding: 0.25em 0.5em; */
    height: 2.5em;
    text-decoration: none;
}
#our-location-button span {
    display: flex;
    height: 100%;
    flex: 4;
    align-items: center;
    justify-content: center;
    /* color: white; */
    font-size: 0.75em;
    text-transform: uppercase;
    /* background-color: #151515; */
}
#our-location-button div {
    flex: 1;
    height: 100%;
    background-color: #D5966C;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cover-container #icon-arrow-right {
    object-fit: contain;
    width: 18px;
    height: 18px;
}
#our-location-button:hover {
    cursor: pointer;
}
#our-location-button:hover span, #our-location-button:focus span {
    background-color: #D5966C;
}
#our-location-button:hover div, #our-location-button:focus div {
    background-color: #151515;
}
.your-day {
    width: 90%;
}
.black-bg {
    background-color: #151515;
    color: white;
    /* padding: 1em; */
}
.brown-bg {
    background-color: #D5966C;
    color: black;
    /* padding: 1em; */
}
.brown-fg {
    color: #D5966C;
}
.inverted-img {
    filter: invert(100%);
}
.ssn-icons {
    display: flex;
    margin: 0.25em 1em;
    gap: 0.5em;
}
.ssn-icons img {
    width: 16px;
    height: 16px;
}
#cover-container {
    display: flex;
    flex-direction: column;
    padding: 0em 0.5em;
}
#cover-container img {
    flex: 1;
    object-fit: cover;
    max-width: 100%;
}
#inset-container {
    display: flex;
    flex-direction: column;
    padding: 0em 0.5em;
    margin: 4em 0em;
}
#inset-container img {
    flex: 1;
    object-fit: cover;
    max-width: 100%;
}
#logo-light > img, #logo-dark > img {
    width: 90%;
}
#map {
    z-index: 0;
}
.back-to-home-button {
    position: absolute;
    top: -0.25em;
    left: 2em;
    width: 10em;
    max-width: 50%;
    z-index: 1;
}

.back-to-home-button a {
    width: 100%;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    padding: 0.25em 0.5em;
    height: 2.5em;
    text-decoration: none;
}
.back-to-home-button span {
    display: flex;
    height: 100%;
    flex: 4;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.75em;
    text-transform: uppercase;
    background-color: #D5966C;
}
.back-to-home-button div {
    flex: 1;
    height: 100%;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-home-button img {
    object-fit: contain;
    width: 18px;
    height: 18px;
}
.back-to-home-button:hover {
    cursor: pointer;
}
.back-to-home-button:hover span {
    background-color: #151515;
}
.back-to-home-button:hover div {
    background-color: #D5966C;
}

.location-map {
    position:relative;
}
.our-location {
    margin: 0;
    padding: 1em 0.5em;
}
.address {
    padding: 1em 0em;
}
.address .brown-fg{
    font-size: 2em;
    padding: 0.5em 0em;
}
.gallery-footer {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
.gallery-footer > h3 {
    flex: 1 1 30%
}
.gallery-footer-preamble {
    flex: 1 1 40%;
}
.ssn-icons {
    flex: 1 1 30%;
}

@media only screen and (min-width: 600px) {
    #cover-container {
        display: grid;
        grid-template-columns: 45fr 10fr 45fr;
        grid-template-rows: repeat(1fr, 5);
    }
    #hero-box {
        grid-column: 1/3;
        grid-row: 1/6;
    }
    #logo-light {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    #gallery-preamble {
        grid-column: 2/4;
        grid-row: 3/4;
    }
    #our-location-button {
        grid-column: 2/4;
        grid-row: 4/5;
    }

    #inset-container {
        display: grid;
        gap: 1em;
        grid-template-columns: 30fr 10fr 30fr;
        grid-template-rows: 5fr 4fr 5fr;
        margin: 4em 1em;
    }
    #grid-1-box {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #grid-2-box {
        grid-column: 1/3;
        grid-row: 2/4;
    }
    #grid-3-box {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #grid-1-box, #grid-2-box, #grid-3-box{
        display: flex;
    }
    #inset-container img {
        flex: 1;
        object-fit: cover;
        max-width: 100%;
    }
    #your-day {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1em;
    }
    #come-be-inspired {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 1em;
    }
    .gallery-footer {
        display: flex;
        flex-direction: row;
        padding: 5%;
    }    
    .ssn-icons  {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 1200px) {
    :root {
        font-size: 1.5em;
    }
    #cover-container {
        display: grid;
        grid-template-columns: 10% 20% 10% 25% 5% 30% ;
        grid-template-rows: 25% 25% 10% 40%;
        /* position: relative; */
    }
    #hero-box {
        grid-column: 3/6;
        grid-row: 1/5;
    }
    #logo-light {
        grid-column: 2/4;
        grid-row: 1/5;
        position: relative;
    }
    #logo-light > img {
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
    }
    #logo-dark {
        display: block;
        grid-column: 1/3;
        grid-row:1/5;
        position: relative;
    }
    #logo-dark > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 120;
        overflow: hidden;
    }
    #gallery-preamble {
        grid-column: 5/7;
        grid-row: 2/3;
    }
    #our-location-button {
        grid-column: 5/7;
        grid-row: 3/4;
    }
    /* #logo-light, #logo-dark {
        position: absolute;
        top: 0em;
        left: 0em;
        width: 10%;
    } */

    #inset-container {
        display: grid;
        gap: 1em;
        grid-template-columns: 42fr 16fr 42fr;
        grid-template-rows: 35fr 30fr 27fr;
        margin: 4em;
    }
    #grid-1-box {
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #grid-2-box {
        grid-column: 1/3;
        grid-row: 2/4;
    }
    #grid-3-box {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #grid-1-box, #grid-2-box, #grid-3-box{
        display: flex;
    }
    #inset-container  img {
        flex: 1;
        object-fit: cover;
        /* max-width: 100%; */
    }
    #your-day {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1em;
    }
    #come-be-inspired {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-column: 3/4;
        grid-row: 3/4;
        padding: 1em;
    }
}

